/* @theme eudiegoborgs */
@import 'default';

:root {
    --background: #121212;
    --text: #ffffff;
    --heading: #00e0ff;
    --accent: #ff4081;
    --code-bg: #1e1e1e;
    --code-color: #c0c0c0;
}

section {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Segoe UI', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

h1,
h2 {
    color: var(--heading);
}

a, h3 {
    color: var(--accent);
}

code {
    background-color: var(--accent);
    color: var(--text);
    padding: 0.2em 0.4em;
    border-radius: 4px;
}

/* Tokens de sintaxe em preto para melhor contraste */
pre code, table {
    color: #000000;
    text-align: left;
}

.conduta {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 0.6rem;
    text-align: right;
}

.conduta img {
    width: 150px;
}

.horizontal-align {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}
.horizontal-align div {
    padding: 0 20px
}

.self-image {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 60vh;
    height: 60vh;
}

.family-image {
    position: absolute;
    top: 10vh;
    right: 5vh;
    width: 300px;
}

.team-image {
    position: absolute;
    top: 50vh;
    right: 5vh;
    width: 300px;
}
