/* @theme phpmg */
@import 'default';

:root {
    --background: #ffffff;
    --text: #121212;
    --heading: #C52F33;
    --accent: #C8706E;
    --code-bg: #1e1e1e;
    --code-color: #c0c0c0;
}

section {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Segoe UI', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

h1,
h2 {
    color: var(--heading);
}

a,
h3 {
    color: var(--accent);
}

code {
    background-color: var(--accent);
    color: var(--text);
    padding: 0.2em 0.4em;
    border-radius: 4px;
}

.cover {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--heading);
}

.cover h1, .cover h2 {
    color: var(--background);
}

.cover img {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
}

.links div {
    display: flex;
    align-items: center;
}

.links div img {
    margin-right: 20px;
}

.links div h2 {
    font-weight: normal;
    color: var(--text);
}

.conduta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.6rem;
    text-align: center;
}

.conduta img {
    width: 150px;
}
